#c_info {
    background-color: #e1f7d5;
}

#w_info {
    background-color: #ffbdbd;
}

#checkin {
    background-color: #f1cbff;
}

body {
  background-color: #fffff0; }

#cityname {
    font-style: italic;
}